/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --color-white: #FFFFFF;
    --color-text-primary: #462E67;
    --color-text-secondary: #868098;
    --color-text-tertiary: #5682F4;
    --color-btn-primary: #462E67;
    --color-btn-secondary: #ECE5F5;
    --color-btn-disabled: #868098;
    --color-text-disabled: #FFFFFF;
    --color-bg-input-primary: #FBFAFB;
    --color-bg-page: #e3e3e3;
    --boder-radius-primary: 16px;
    --boder-radius-secondary: 24px;
    --gap-primary: 8px;
    --color-border-primary: #846DA3;
    --color-border-secondary: #B4AFC2;
    --color-border-tertiary: #F5F4F7;
    --border-primary: 1px solid var(--color-border-primary);
    --border-secondary: 1px solid var(--color-border-secondary);
    --border-tertiary: 1px solid var(--color-border-tertiary);
    --border-divider: dashed 1px #F5F4F7;
    --break-point-mobile: 640px;
}